<div class="container pt-3">
    <div class="row" *ngIf="movie">
        <div class="col-6 col-md-4 col-lg-3">
            <img *ngIf="movie.poster_path" class="img-thumbnail" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path">
            <img *ngIf="!movie.poster_path" class="img-thumbnail" src="http://via.placeholder.com/500x750.png?text=No+image+available">
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <h1>
                {{ movie.title }} 
                <span class="float-right" (click)="setFavourite()">
                    <i *ngIf="favourite" class="fas fa-star text-warning"></i>
                    <i *ngIf="!favourite" class="far fa-star"></i>
                </span>
            </h1>
            <p class="m-0">Status: {{ movie.status }}</p>
            <p class="m-0">Release: {{ movie.release_date }}</p>
            <p>{{ movie.vote_average }} / 10 ({{ movie.vote_count }} votes)</p>
            <p>{{ movie.overview }}</p>
        </div>
        <div class="col-12 col-md-6">
            <h2>Languages</h2>
            <p class="m-0">Original: {{ movie.original_language }}</p>
            <p>Spoken languages: {{ getSpokenLanguages() }}</p>
        </div>
        <div class="col-12 col-md-6">
            <h2>Genres</h2>
            <p>{{ getGenres() }}</p>
        </div>
        <div class="col-12 col-md-6">
            <h2>Production countries</h2>
            <p>{{ getProductionCountries() }}</p>
        </div>
        <div class="col-12 col-md-6">
            <h2>Production companies</h2>
            <p>{{ getProductionCompanies() }}</p>
        </div>
        <div *ngIf="credits" class="col-12">
            <h2>Credits</h2>
            <h3>Cast</h3>
            <div class="row">
                <div *ngFor="let person of credits.cast" class="col-6 col-md-4 col-lg-3 col-xl-2">
                    <a routerLink="/person/{{person.id}}" *ngIf="person.profile_path"><img class="img-thumbnail"
                            [src]="'https://image.tmdb.org/t/p/w500/' + person.profile_path"></a>
                    <a routerLink="/person/{{person.id}}" *ngIf="!person.profile_path"><img class="img-thumbnail"
                            src="http://via.placeholder.com/500x750.png?text=No+image+available"></a>
                    <p class="m-0"><b><a class="text-dark" routerLink="/person/{{person.id}}">{{ person.name }}</a></b>
                    </p>
                    <p>{{ person.character }}</p>
                </div>
            </div>
            <h3>Crew</h3>
            <div class="row">
                <div *ngFor="let person of credits.crew" class="col-6 col-md-4 col-lg-3 col-xl-2">
                    <a routerLink="/person/{{person.id}}" *ngIf="person.profile_path"><img class="img-thumbnail"
                            [src]="'https://image.tmdb.org/t/p/w500/' + person.profile_path"></a>
                    <a routerLink="/person/{{person.id}}" *ngIf="!person.profile_path"><img class="img-thumbnail"
                            src="http://via.placeholder.com/500x750.png?text=No+image+available"></a>
                    <p class="m-0"><b><a class="text-dark" routerLink="/person/{{person.id}}">{{ person.name }}</a></b>
                    </p>
                    <p>{{ person.job }}</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="recommendations">
        <h3>Similar movies</h3>
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let movie of recommendations.results">
                <a routerLink="/movie/{{movie.id}}"><img class="img-thumbnail"
                        [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"></a>
                <p class="m-0"><b><a class="text-dark" routerLink="/movie/{{movie.id}}">{{ movie.title }}</a></b></p>
                <p>{{ movie.overview.substr(0, 30).split(' ').slice(0, -1).join(' ') }} ...</p>
            </div>
        </div>
    </div>
</div>