<nav class="navbar navbar-expand-lg navbar-dark bg-dark boxrow header">
    <div class="container">
        <a routerLink="/" n class="navbar-brand">Movie finder</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngFor="let page of pages" (click)="navLinkClicked()">
                    <a routerLink="{{page.path}}" [ngClass]="getClasses(page)" class="nav-link">{{ page.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>