<div class="card">
    <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">{{ movie.overview.substr(0, 100).split(' ').slice(0, -1).join(' ') }} ...</p>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a class="card-link smaller"><span class="dark-link">Details</span></a>
        <span (click)="setFavourite()">
            <i *ngIf="favourite" class="fas fa-star text-warning"></i>
            <i *ngIf="!favourite" class="far fa-star"></i>
        </span>
    </div>
</div>
