<div class="card">
    <a routerLink="/movie/{{ movie.id }}">
        <img *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top">
        <img *ngIf="!movie.poster_path" src="http://via.placeholder.com/500x750.png?text=No+image+available" class="card-img-top">
    </a>
    <div class="card-body">
        <a routerLink="/movie/{{ movie.id }}" class="text-dark">
            <h5 class="card-title">{{ movie.title }}</h5>
        </a>
        <p class="card-text">{{ movie.overview.substr(0, 100).split(' ').slice(0, -1).join(' ') }} ...</p>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a routerLink="/movie/{{ movie.id }}" class="card-link smaller">
            <span class="dark-link">Details</span>
        </a>
        <span (click)="setFavourite()">
            <i *ngIf="favourite" class="fas fa-star text-warning"></i>
            <i *ngIf="!favourite" class="far fa-star"></i>
        </span>
    </div>
</div>
<a routerLink="/movie/{{ movie.id }}"></a>