<div class="container pt-3">
    <div class="row" *ngIf="tv">
        <div class="col-6 col-md-4 col-lg-3">
            <img *ngIf="tv.poster_path" class="img-thumbnail" [src]="'https://image.tmdb.org/t/p/w500/' + tv.poster_path">
            <img *ngIf="!tv.poster_path" class="img-thumbnail" src="http://via.placeholder.com/500x750.png?text=No+image+available">
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <h1>
                {{ tv.name }}
                <span class="float-right" (click)="setFavourite()">
                    <i *ngIf="favourite" class="fas fa-star text-warning"></i>
                    <i *ngIf="!favourite" class="far fa-star"></i>
                </span>
            </h1>
            <p class="m-0">Status: {{ tv.status }}</p>
            <p class="m-0">First air: {{ tv.first_air_date }}</p>
            <p class="m-0">Last air: {{ tv.last_air_date }}</p>
            <p>{{ tv.vote_average }} / 10 ({{ tv.vote_count }} votes)</p>
            <p>{{ tv.overview }}</p>
        </div>
        <div class="col-12 col-md-6">
            <h2>Languages</h2>
            <p class="m-0">Original: {{ tv.original_language }}</p>
            <p>Spoken languages: {{ getSpokenLanguages() }}</p>
        </div>
        <div class="col-12 col-md-6">
            <h2>Genres</h2>
            <p>{{ getGenres() }}</p>
        </div>
        <div class="col-12">
            <h2>Seasons</h2>
            <div class="row">
                <div *ngFor="let season of tv.seasons" class="col-6 col-md-4 col-lg-3 col-xl-2">
                    <img *ngIf="season.poster_path" class="img-thumbnail" [src]="'https://image.tmdb.org/t/p/w500/' + season.poster_path">
                    <img *ngIf="!season.poster_path" class="img-thumbnail"src="http://via.placeholder.com/500x750.png?text=No+image+available">
                    <p class="m-0"><b>{{ season.name }}</b></p>
                    <p class="m-0">{{ season.episode_count }} episodes</p>
                    <p>{{ season.air_date }}</p>
                </div>
            </div>
        </div>
        <div *ngIf="credits" class="col-12">
            <h2>Credits</h2>
            <h3>Cast</h3>
            <div class="row">
                <app-small-frame *ngFor="let person of credits.cast" class="col-6 col-md-4 col-lg-3 col-xl-2"
                    [title]="person.name" [description]="person.character"
                    [link]="'/person/' + person.id" [imageUrl]="person.profile_path && 'https://image.tmdb.org/t/p/w500/' + person.profile_path" >
                </app-small-frame>
            </div>
            <h3>Crew</h3>
            <div class="row">
                <app-small-frame *ngFor="let person of credits.crew" class="col-6 col-md-4 col-lg-3 col-xl-2"
                    [title]="person.name" [description]="person.job"
                    [link]="'/person/' + person.id" [imageUrl]="person.profile_path && 'https://image.tmdb.org/t/p/w500/' + person.profile_path" >
                </app-small-frame>
            </div>
        </div>
    </div>
    <div *ngIf="recommendations">
        <h2>Similar tv shows</h2>
        <div class="row">
            <app-small-frame *ngFor="let tv of recommendations.results" class="col-6 col-md-4 col-lg-3 col-xl-2"
                [title]="tv.name" [description]="tv.overview.substr(0, 30).split(' ').slice(0, -1).join(' ') + '...'"
                [link]="'/tv/' + tv.id" [imageUrl]="tv.poster_path && 'https://image.tmdb.org/t/p/w500/' + tv.poster_path" >
            </app-small-frame>
        </div>
    </div>
</div>