<div class="container pt-3">
    <div *ngIf="person" class="overflow-auto">
        <img *ngIf="person.profile_path" class="img-thumbnail w-25 float-left mr-3" [src]="'https://image.tmdb.org/t/p/w500/' + person.profile_path">
        <img *ngIf="!person.profile_path" class="img-thumbnail w-25 float-left mr-3" src="http://via.placeholder.com/500x750.png?text=No+image+available">
        <h1>
            {{ person.name }}
            <span class="float-right" (click)="setFavourite()">
                <i *ngIf="favourite" class="fas fa-star text-warning"></i>
                <i *ngIf="!favourite" class="far fa-star"></i>
            </span>
        </h1>
        <p class="m-0"><b>Birth:</b> {{ person.birthday }} - {{ person.place_of_birth }}</p>
        <p class="m-0"><b>Known for:</b> {{ person.known_for_department }}</p>
        <p class="m-0" *ngIf="person.deathday"><b>Death:</b> {{ person.deathday }}</p>
        <p class="m-0"><b>Also known as:</b> {{ person.also_known_as.join(', ') }}</p>
        <p><b>Gender:</b> {{ getGender() }}</p>
        <p class="m-0">{{ person.biography }}</p>
    </div>
    <div class="float-none"></div>
    <div *ngIf="movieCredits && movieCredits.cast.length">
        <h2>Cast in movies</h2>
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let movie of movieCredits.cast">
                <a routerLink="/movie/{{movie.id}}">
                    <img *ngIf="movie.poster_path" class="img-thumbnail" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path">
                    <img *ngIf="!movie.poster_path" class="img-thumbnail" src="http://via.placeholder.com/500x750.png?text=No+image+available">
                </a>
                <p class="m-0"><b><a class="text-dark" routerLink="/movie/{{movie.id}}">{{ movie.title }}</a></b></p>
                <p class="m-0">{{ movie.overview.substr(0, 30).split(' ').slice(0, -1).join(' ') }} ...</p>
                <p>(As {{ movie.character }})</p>
            </div>
        </div>
    </div>
    <div *ngIf="movieCredits && movieCredits.crew.length">
        <h2>Crew in movies</h2>
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let movie of movieCredits.crew">
                <a routerLink="/movie/{{movie.id}}">
                    <img *ngIf="movie.poster_path" class="img-thumbnail" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path">
                    <img *ngIf="!movie.poster_path" class="img-thumbnail" src="http://via.placeholder.com/500x750.png?text=No+image+available">
                </a>
                <p class="m-0"><b><a class="text-dark" routerLink="/movie/{{movie.id}}">{{ movie.title }}</a></b></p>
                <p class="m-0">{{ movie.overview.substr(0, 30).split(' ').slice(0, -1).join(' ') }} ...</p>
                <p>(As {{ movie.job }})</p>
            </div>
        </div>
    </div>
</div>
